.root {
  background-color: $color-bg-white;
  border: 1px solid $color-border-light;
  border-radius: 8px;
  padding: 24px 18px 27px;
}

.title {
  margin-bottom: 25px;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;
}

.stepGroup {
  display: flex;
  align-items: center;
  flex: 1;
}

.step {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.arrow {
  flex-shrink: 0;
  margin: 0 24px;
  padding-bottom: 16px;
}

@media (max-width: 768px) {
  .steps {
    overflow-x: auto;
    padding: 0;
  }

  .stepGroup {
    min-width: 116px;
  }
}
