.root {
  display: inline-flex;
}

.list {
  display: flex;
  align-items: center;
  gap: 4px;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.link {
  font-size: 15px;

  color: $color-text-primary;
  text-decoration: none;
  transition: color 0.12s;

  &:hover {
    color: $color-text-tertiary;
  }
}

.current {
  color: $color-text-primary;
  font-weight: 500;
  cursor: default;

  &:hover {
    color: $color-text-tertiary;
  }
}

.separator {
  display: inline-flex;
  align-items: center;
  color: $color-text-disabled;
  transform: rotate(-90deg);
}
