.root {
  min-height: 100vh;
  background-color: $color-bg-white;
}

.container {
  max-width: 1218px;
  margin: 0 auto;
  padding: 30px 0 150px;
  min-height: 410px;

  @media (max-width: 1024px) {
    padding: 30px 32px 150px;
  }

  @media (max-width: 640px) {
    padding: 24px 16px 120px;
  }
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;

  span {
    color: $color-text-tertiary;
  }
}
