.root {
  display: grid;
  grid-template-columns: minmax(0, 914px) 290px;
  gap: 20px;
}

@media (max-width: 1024px) {
  .root {
    grid-template-columns: minmax(0, 1fr) 250px;
    gap: 16px;
  }
}

@media (max-width: 640px) {
  .root {
    grid-template-columns: 1fr;
  }
}
