.root {
  min-height: 100vh;
  background-color: $color-bg-white;
}

.main {
  width: 100%;
  max-width: 1256px;
  margin: 0 auto;
  padding: 32px 60px 70px;

  nav {
    margin-top: 44px;
  }
}

@media (max-width: 1024px) {
  .main {
    padding: 28px 32px 60px;
  }
}

@media (max-width: 640px) {
  .main {
    padding: 20px 16px 48px;

    nav {
      margin-top: 30px;
    }
  }
}
