@use "@/styles/color_variables" as *;

.root {
  border: 1px solid $color-border;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  background-color: $color-bg-light;
  border-bottom: 1px solid $color-border-light;
}

.deleteBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  &:hover span {
    text-decoration: underline;
  }
}

.brandGroup {
  padding: 16px;
}

.brandLabel {
  display: block;
  color: $color-text-tertiary;
  margin-bottom: 4px;
}

.itemList {
  list-style: none;
  margin: 0;
  padding: 0;
}
