@use "@/styles/color_variables" as *;

.root {
  border: 1px solid $color-border;
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: $color-bg-white;
}

.brandGroup {
  padding: 14px 15px 0;
}

.brandLabel {
  display: block;
  color: $color-text-tertiary;
  margin-bottom: 15px;
}

.itemList {
  list-style: none;
  margin: 0;
  padding: 0;
}
