.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid $color-border-light;
}

.left {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon {
  display: flex;
  align-items: center;
  color: $color-border-light;
}

.pointBtn {
  display: flex;
  align-items: center;
  gap: 2px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
